
.tp-highlight, .tp-highlight * {
    background-color: #ccccff !important;
	background-image: none !important;
	color: black !important;
}

.tp-highlight-overlay {
    z-index: 10000;
    position: absolute;
    border: 2px solid blue;
    background-color: #6666ff;
    -webkit-opacity: .4;
}
.tp-label {
    position: absolute;
    background-color: #ffff66;;
    color: black;
    -webkit-opacity: .9;
    padding: 3px;
    z-index: 20000;
}

.tp-part {
    -webkit-opacity: .4;
    position: absolute;
    background-color: #aa6666;
    margin: 0;
    padding: 0; }

.tp-part-label {
    position: absolute;
    color: white;
    -webkit-opacity: .9;
    padding: 3px;
    z-index: 20000;

    background-color: #884444;;
    background-color: rgba(0, 0, 0, 0.3);
}

.tp-part.tp-index-1 { background-color: #66aa66; }
.tp-part.tp-index-2 { background-color: #6666aa; }

/*
.tp-part-label.tp-index-1 { background-color: #448844; }
.tp-part-label.tp-index-2 { background-color: #444488; }
*/
