
.debug-container {
        background-color: #000044;
        color: white;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5000;
        width: 100%;
        margin: 0;
        padding: 5px;
    }

.debug-container span {
    margin: 0 1em; }


.source {
    opacity: .9;
    -webkit-opacity: .9;
    height: auto;
    top: 50px;
    left: 50px;
    background-color: white;
    color: black;
    z-index: 5000;
    font-size: 12px;
    font-family: "Arial", "helvetica"; /* "Courier New", monospace; */
    line-height: 140%;
}
.source .source-header {
    font-size: 14px;
    background-color: #dddddd;
    color: #333333;
    border-bottom: 1px solid 000044;
    margin: 0;
    padding: 6px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.source pre {
    margin-bottom: 50px;
    margin-top: 50px;
}

.source pre span {
    cursor: default;
}
.footer {
    text-align: right;
    height: 40px;
    margin: 0;
    border-top: 1px solid 000044;
    background-color: white;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


.expand-button {
    border: 1px solid #ffbbbb;
    color: #aaaaaa;
    margin: 4px;
    padding: 1px;
    cursor: pointer;
    cursor: hand;
}
.expand-button:hover {
    background-color: #ff0000;
    color: black;
}

.type-django-tag {
    color: #008800;
    font-weight: bold;
}


.type-html-tag, .type-html-end-tag {
    color: #880000;
    font-weight: bold;
}

.type-html-tag-attribute-key {
    color: #000088;
    font-weight: bold;
}

.type-html-tag-attribute-value {
    color: #000088;
    font-style: italic;
}

.node-not-rendered {
    font-style: italic;
    color: #666666;
}

.highlight-source, .highlight-source * {
    background-color: #ddddff !important;
}
.highlight-html, .highlight-html * {
    background-color: #ddddff !important;
    background-image: none;
}

.breadcrumbs span {
   cursor: hand;

   background-color: #eeeeee;
   border: 1px solid #888888;;
   padding: 0 3px;
   margin: 5px;
}

.breadcrumbs span:hover {
    background-color: white;
}
